.Root {
  --button-bg: transparent;
  --button-bg-hover: var(--button-bg);
  --button-bg-pressed: var(--button-bg);
  --button-fg: currentcolor;

  will-change: transform;
  cursor: var(--cursor-interactive);
  user-select: none;

  position: relative;
  transform-origin: center;

  display: inline-flex;
  gap: var(--spacing-xl);
  align-items: center;
  justify-content: center;

  min-height: calc(var(--spacing) * 10);
  padding-inline: var(--spacing-3xl);
  border: none;
  border-radius: var(--rounded-2xl);

  font-size: var(--text-sm);
  font-weight: 500;
  color: var(--button-fg);
  white-space: nowrap;

  background-color: var(--button-bg);
  outline: none;

  svg {
    pointer-events: none;
    flex-shrink: 0;
    width: calc(var(--spacing) * 4);
    height: calc(var(--spacing) * 4);
  }

  &[data-variant="primary"] {
    --button-bg: var(--primary);
    --button-bg-hover: var(--primary-hover);
    --button-bg-pressed: var(--primary-hover);
    --button-fg: var(--primary-foreground);
  }

  &[data-variant="secondary"] {
    --button-bg: var(--secondary);
    --button-bg-hover: var(--secondary-hover);
    --button-bg-pressed: var(--secondary-hover);
    --button-fg: var(--primary-soft-foreground);
  }

  &[data-variant="ghost"],
  &[data-variant="outline"] {
    --button-bg: transparent;
    --button-bg-hover: var(--secondary);
    --button-bg-pressed: var(--secondary);
    --button-fg: var(--secondary-foreground);
  }

  &[data-variant="outline"] {
    --button-bg-hover: color-mix(in srgb, var(--secondary) 60%, transparent);

    border: 1px solid var(--border);
  }

  &[data-variant="danger"] {
    --button-bg: var(--danger);
    --button-bg-hover: var(--danger-hover);
    --button-bg-pressed: var(--danger-hover);
    --button-fg: var(--danger-foreground);
  }

  &[data-variant="danger-soft"] {
    --button-bg: var(--danger-soft);
    --button-bg-hover: var(--danger-soft-hover);
    --button-bg-pressed: var(--danger-soft-hover);
    --button-fg: var(--danger-soft-foreground);
  }

  &[data-size="sm"] {
    min-height: calc(var(--spacing) * 9);

    &[data-icon-only="true"] {
      width: calc(var(--spacing) * 9);
      height: calc(var(--spacing) * 9);

      svg {
        width: calc(var(--spacing) * 3);
        height: calc(var(--spacing) * 3);
      }
    }
  }

  &[data-size="md"] {
    &[data-icon-only="true"] {
      width: calc(var(--spacing) * 10);
      height: calc(var(--spacing) * 10);
    }
  }

  &[data-size="lg"] {
    min-height: calc(var(--spacing) * 11);
    padding-inline: calc(var(--spacing) * 4.5);
    font-size: var(--text-md);

    &[data-icon-only="true"] {
      width: calc(var(--spacing) * 11);
      height: calc(var(--spacing) * 11);
    }
  }

  &[data-icon-only="true"] {
    padding: 0;
  }

  &:disabled,
  &[aria-disabled="true"] {
    @include status-disabled;
  }

  &[data-pending="true"] {
    @include status-pending;
  }

  &:active,
  &[data-pressed="true"] {
    transform: scale(0.95);
    background-color: var(--button-bg-pressed);
  }

  &:focus-visible:not(:focus),
  &[data-focus-visible="true"] {
    outline: none;
    box-shadow: var(--ring-shadow);
  }

  @include hoverable-cursor {
    &:hover,
    &[data-hovered="true"] {
      background-color: var(--button-bg-hover);
    }
  }

  @include transition-with-reduce-motion(
    transform var(--duration-md) var(--ease-smooth),
    background-color var(--duration-sm) var(--ease-out),
    box-shadow var(--duration-sm) var(--ease-out)
  );

  @include no-highlight;
}
