@mixin hoverable-cursor {
  @media (hover: hover) and (pointer: fine) {
    @content;
  }
}

@mixin transition-with-reduce-motion($values...) {
  transition: $values;

  @media (prefers-reduced-motion: reduce) {
    transition: none;
  }
}

@mixin no-highlight {
  -webkit-tap-highlight-color: transparent;
}

@mixin focus-invalid-ring {
  &:focus,
  &:focus-visible,
  &[data-focused="true"],
  &[data-focus-visible="true"],
  &:focus-within,
  &[data-focus-within="true"] {
    box-shadow: 0 0 0 var(--ring-offset) var(--danger-ring);
  }
}

@mixin status-pending {
  pointer-events: none;
}

@mixin status-disabled {
  pointer-events: none;
  cursor: var(--cursor-disabled);
  opacity: var(--disabled-opacity);
}
